html,body { 
    height: 100%;
    width: 100%;  
    position:relative;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Geologica', sans-serif;
    font-weight: 400;   
}

.container {
  background-image:url("images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 7%;
    padding-right: 3%;
}

.navbar ul li{
    background-color: rgba(255, 255, 255, 0.26);
    list-style-type: none;
    display: inline-block;
    margin: 2px;
    border-radius: 25px;
}

.buttonst {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
    text-shadow: 1px 1px #0de2db;
    background-color: transparent;
    outline: none;
    border: none; 
    cursor: pointer;
    border-radius: 25px;
    cursor: pointer;
    width: 105px;
}

.buttonst:hover{
    font-weight: bolder;
    text-shadow: 1px 1px #0de2db;
    width: 105px;
    color: #1e00e0;
    outline: none;
    border: none; 
    cursor: pointer;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.637),0 5px 8px 0 #0de2db;
    transition: .5s;
    
}

/*.buttonst::after{
    content: " ";
    height: 2px;
    width: 0%;
    display: block;
    background-color: white;   
}

.buttonst:hover::after {
    content: " ";
    height: 2px;
    width: 100%;
    background-color: white;
    transition: .5s ease-in-out; 
    
  }*/

.header {
   margin-top: 135px;
   margin-left: 105px;
   margin-right: auto;
   
   height: 325px;
   width: 575px;
   
   padding-left: 60px;
   padding-right: auto;
   
   font-size: 32px;
   font-weight: lighter;
   
   color: white;
   background-color:transparent;
   text-transform: uppercase;
     
   border-color: aliceblue;
   border: 1px solid rgb(255, 255, 255);
   outline-style: solid;
   outline-color: rgb(255, 255, 255);
   outline-width: thin;
}