html,body { 
    height: 100%;
    width: 100%;  
    position:relative;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,p {
    font-family: 'Geologica', sans-serif;
    font-weight: 400;   
}

.container {
  background-image:url("images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 7%;
    padding-right: 3%;
}

.navbar ul li{
    background-color: transparent;
    list-style-type: none;
    display: inline-block;
    margin: 2px;
}

.buttonst {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
    text-shadow: 1px 1px #0de2db;
    background-color: rgba(255, 255, 255, 0.26);
    outline: none;
    border: none; 
    cursor: pointer;
    border-radius: 25px;
    cursor: pointer;
    width: 105px;
}

.buttonst:hover{
    font-weight: bolder;
    text-shadow: 1px 1px #0de2db;
    width: 105px;
    color: #1e00e0;
    outline: none;
    border: none; 
    cursor: pointer;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.637),0 5px 8px 0 #0de2db;
    transition: .5s;
    
}

.buttonst:active {
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(255, 253, 253, 0.637),0 2px 5px 0 #0de2db;
    transition: .25s;
  }


.header {
   margin-top: 135px;
   margin-left: 105px;
   margin-right: auto;
   
   height: 325px;
   width: 575px;
   
   padding-left: 60px;
   padding-right: auto;
   
   font-size: 32px;
   font-weight: lighter;
   
   color: white;
   background-color:transparent;
   text-transform: uppercase;
     
   border-color: aliceblue;
   border: 1px solid rgb(255, 255, 255);
   outline-style: solid;
   outline-color: rgb(255, 255, 255);
   outline-width: thin;
}

.container2 {
    margin: 10%;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1200;
    margin-bottom: 0px;
}

.descriptions {
   margin-top: 205px;
   margin-left: -165px;
   padding-top: 2%;
   padding-left: 9%;
   background-color: #ffff;   
   box-sizing: border-box;
}

.header2 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(0, 0, 0, 0.966);
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}

.paragraph {
    margin-top: 0;
    color: hsl(0, 0%, 55%);
    line-height: 1.5;
    word-spacing: 2px;
}

.menu_bar {
    margin: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    margin-bottom: 0px;
}

.header3 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(0, 0, 0, 0.966);
    word-spacing: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 300;
}

.buttonsec {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    height: 50px;
    width: 185px;
    text-align: center;

}

.buttonsec:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: .25s;
}

.buttonsec:active {
    margin: 10px;
    height: 45px;
    width: 175px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.637),0 5px 8px 0 #1516168a;
}

.menu_options {
    margin: 10%;
    margin-right: 7%;
    margin-top: 5%;
    align-items: center;   
    margin-bottom: 0px;
    
    display: grid;
    grid-template-columns: 256px 256px 256px 256px;
    
    grid-template-rows: 450px 450px; 
    
    column-gap: 64px;
    row-gap: 45px;

    background-color: #ffffff;
    padding: 0px;
}

.grid {
    width: 256px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.item1 {
    background-image:url("images/desktop/image-deep-earth.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item1:hover {
    background-image:url("images/desktop/image-deep-earth.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.item2 {
    background-image:url("images/desktop/image-night-arcade.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item2:hover {
    background-image:url("images/desktop/image-night-arcade.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;
}

.item3 {
    background-image:url("images/desktop/image-soccer-team.jpg");
    background-size: 256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item3:hover {
    background-image:url("images/desktop/image-soccer-team.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;
}

.item4 {
    background-image:url("images/desktop/image-grid.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item4:hover {
    background-image:url("images/desktop/image-grid.jpg");
    background-size:285px 495px;
    background-repeat: no-repeat;
    background-position: center;
}


.item5 {
    background-image:url("images/desktop/image-from-above.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item5:hover {
    background-image:url("images/desktop/image-from-above.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;

}

.item6 {
    background-image:url("images/desktop/image-pocket-borealis.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item6:hover {
    background-image:url("images/desktop/image-pocket-borealis.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;

}

.item7 {
    background-image:url("images/desktop/image-curiosity.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.item7:hover {
    background-image:url("images/desktop/image-curiosity.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;
}

.item8 {
    background-image:url("images/desktop/image-fisheye.jpg");
    background-size:256px 450px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.item8:hover {
    background-image:url("images/desktop/image-fisheye.jpg");
    background-size: 285px 495px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.grid:hover {
    width: 256px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    margin: 0px;
    opacity: 0.5;
    transition: 0.5s;
    color: #000000;
}

.info {
   color: #ffffff;
   font-size: 32px;
   font-weight: 100;
   text-align: left;
   padding-top: 0px;
   margin: 0px;
   padding-top: 340px;
   margin-left: 15%;
   text-transform: uppercase;
   transition: 0.5s;
}

.info:hover {
    font-size:32px;
    color: #4afff6;
    
}
